html,
body {
  padding-top: 8%;
  scroll-behavior: smooth;
  height: 100%;
  z-index: 1;
  width: 100%;
}

#nav {
  position: fixed;
  left: 50%;
  top: 7%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

nav li {
  display: inline;
}

nav li a {
  font-weight: bold;
  font-family: 'Recursive', sans-serif;
  font-size: 140%;
  color: #1D48C0;
}

.logo {
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 90px;
  -webkit-filter: drop-shadow(2px 4px 8px #585858);
          filter: drop-shadow(2px 4px 8px #585858);
}

.linkedinlogo {
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 90px;
}

.right-space {
  margin-right: 9rem;
}

.right-space-less {
  margin-right: 8rem;
}

span {
  border-color: black;
  width: 100%;
  border: 0px;
  border-bottom: 2px solid;
}

.section-a {
  max-height: 100vh;
}

.section-a,
.section-b,
.section-c,
.section-d {
  max-width: 100vw;
}

h1 {
  justify-items: center;
  text-align: center;
}

#intro {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 7rem;
  font-family: 'Recursive', sans-serif;
  color: #1D48C0;
  width: 10%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes introtyping {
  0% {
    width: 0%;
  }
  100% {
    width: 15ch;
  }
}

@keyframes introtyping {
  0% {
    width: 0%;
  }
  100% {
    width: 15ch;
  }
}

@-webkit-keyframes introblink {
  0%,
  100% {
    border-right: 4px solid transparent;
  }
  50% {
    border-right: 5px solid #1D48C0;
  }
}

@keyframes introblink {
  0%,
  100% {
    border-right: 4px solid transparent;
  }
  50% {
    border-right: 5px solid #1D48C0;
  }
}

@-webkit-keyframes typing {
  0% {
    width: 0%;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    width: 25ch;
    opacity: 1;
  }
}

@keyframes typing {
  0% {
    width: 0%;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    width: 25ch;
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0%,
  100% {
    border-right: 4px solid transparent;
  }
  50% {
    border-right: 5px solid black;
  }
}

@keyframes blink {
  0%,
  100% {
    border-right: 4px solid transparent;
  }
  50% {
    border-right: 5px solid black;
  }
}

@-webkit-keyframes typing2 {
  0% {
    width: 0%;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    width: 15ch;
    opacity: 1;
  }
}

@keyframes typing2 {
  0% {
    width: 0%;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    width: 15ch;
    opacity: 1;
  }
}

@-webkit-keyframes blink2 {
  0%,
  100% {
    border-right: 5px solid transparent;
  }
  50% {
    border-right: 5px solid black;
  }
}

@keyframes blink2 {
  0%,
  100% {
    border-right: 5px solid transparent;
  }
  50% {
    border-right: 5px solid black;
  }
}

#intro-subtext {
  font-family: 'Recursive', sans-serif;
  font-size: 4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro-animation {
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: introtyping 1s steps(15) forwards, introblink 1s 1.01;
          animation: introtyping 1s steps(15) forwards, introblink 1s 1.01;
}

.first-animation {
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 1s steps(31) forwards, blink 1s 2;
          animation: typing 1s steps(31) forwards, blink 1s 2;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.second-animation {
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing2 1s steps(18) forwards, blink2 1s infinite;
          animation: typing2 1s steps(18) forwards, blink2 1s infinite;
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.center {
  padding-top: 5%;
  width: 12%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
  -webkit-filter: drop-shadow(2px 4px 8px #585858);
          filter: drop-shadow(2px 4px 8px #585858);
}

.center2 {
  padding-top: 2%;
  width: 20%;
  display: none;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
  bottom: 100px;
}

.section-b {
  padding-top: 2%;
  padding-bottom: 2%;
  height: 60vh;
  background-color: #F1F1F1;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

figure {
  position: relative;
}

h2 {
  text-align: center;
  word-wrap: wrap;
  font-family: 'Recursive', sans-serif;
  font-size: 4rem;
}

h3 {
  text-align: center;
  font-family: 'Recursive', sans-serif;
  max-width: 80ch;
  word-wrap: break-word;
}

#synopsis {
  text-align: left;
  color: #1D48C0;
}

p {
  font-family: 'Recursive', sans-serif;
}

.section-b p {
  text-align: center;
  max-width: 80ch;
}

.section-c p {
  max-width: 60ch;
  font-size: 1rem;
}

.project {
  width: 100%;
  padding: 10px;
  -webkit-filter: drop-shadow(2px 4px 8px #585858);
          filter: drop-shadow(2px 4px 8px #585858);
}

.content {
  background-color: white;
  padding-bottom: 1px;
  min-height: 300px;
}

.text {
  position: relative;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.5);
}

.project :hover .overlay {
  opacity: 1;
}

.centerimg {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.section-c {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: white;
  height: 60vh;
}

.section-d {
  padding-top: 2%;
  background-color: #D9D9D9;
  height: 110vh;
  padding-bottom: 2%;
}

.column-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.column-control2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-family: 'Recursive', sans-serif;
  font-size: 20px;
}

.column1,
.column2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2%;
  width: 100%;
}

.column3,
.column4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2%;
  width: 100%;
}

ul {
  padding: 0;
  padding-left: 6%;
}

.contact-sub {
  text-align: center;
}

footer {
  text-align: center;
  height: 5%;
  padding: 1%;
  background-color: #1D48C0;
}

@media only screen and (min-width: 500px) and (max-height: 776px) and (min-height: 200px) and (orientation: landscape) {
  #nav {
    display: none;
  }
  body {
    padding-top: 0;
  }
  .section-a {
    max-height: 300vh;
  }
  .section-b {
    height: 200vh;
  }
  .section-c {
    height: 150vh;
  }
  .section-d {
    height: 400vh;
  }
  footer {
    height: 20%;
  }
}

@media only screen and (max-width: 1600px) and (orientation: portrait) and (min-width: 760px) {
  #nav {
    display: none;
  }
  .section-b {
    max-height: 100vh;
  }
  .section-c {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 60vh;
  }
  .section-d {
    max-height: 100vh;
  }
  #intro {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 1600px) and (orientation: landscape) and (min-height: 760px) {
  #nav {
    display: none;
  }
  #intro {
    font-size: 6rem;
  }
  .center {
    width: 20%;
  }
  .section-a {
    height: 100vh;
  }
  .section-b {
    height: 70vh;
  }
  .section-c {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 60vh;
  }
  .section-d {
    height: 150vh;
  }
  footer {
    height: 11%;
  }
}

@media only screen and (max-width: 775px) and (orientation: portrait) {
  nav {
    display: none;
  }
  #intro {
    font-size: 2.6rem;
  }
  #intro-subtext, #intro
h2 {
    font-size: 1.5rem;
    text-overflow: wrap;
  }
  .center {
    width: 50%;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-b {
    height: 120vh;
  }
  .section-c {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  .section-d {
    height: 190vh;
  }
  .column-control {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .centerimg {
    padding: 20px;
    width: 250px;
  }
}

@media only screen and (max-width: 375px) and (orientation: portrait) {
  #intro {
    font-size: 2.4rem;
  }
  #intro-subtext {
    font-size: 1.5rem;
  }
  .center {
    padding-top: 20%;
  }
  .content {
    min-height: 0px;
    padding-bottom: 0px;
  }
  .section-a {
    height: 120vh;
  }
  .section-b {
    height: 120vh;
  }
  .section-c {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 110vh;
  }
  .section-d {
    height: 200vh;
  }
}

@media only screen and (max-width: 321px) and (orientation: portrait) {
  #intro {
    font-size: 2rem;
  }
  #intro-subtext {
    font-size: 1.3rem;
  }
  .center {
    padding-top: 50%;
  }
  .content {
    min-height: 0px;
  }
  .section-c {
    height: 140vh;
  }
  .section-b {
    height: 120vh;
  }
  .section-d {
    height: 250vh;
  }
}

@media only screen and (max-height: 400px) and (orientation: landscape) and (max-width: 670px) {
  #nav {
    display: none;
  }
  #intro {
    font-size: 2.6rem;
  }
  #intro-subtext {
    font-size: 1.5rem;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
  }
  .section-a {
    max-height: 300vh;
  }
  .section-b {
    height: 250vh;
  }
  .section-c {
    height: 250vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-c h3 {
    text-align: center;
    max-width: 60ch;
    word-wrap: break-word;
  }
  .column-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-d {
    height: 310vh;
  }
  footer {
    height: 20%;
  }
}

@media only screen and (max-height: 600px) and (min-height: 401px) and (orientation: landscape) and (max-width: 900px) {
  nav {
    display: none;
  }
  #intro {
    font-size: 2.6rem;
  }
  #intro-subtext {
    font-size: 1.5rem;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }
  .section-a {
    max-height: 300vh;
  }
  .section-b {
    height: 200vh;
  }
  .section-c {
    height: 200vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .section-d {
    height: 310vh;
  }
  footer {
    height: 20%;
  }
}

@media only screen and (max-height: 400px) and (min-width: 600px) and (orientation: landscape) and (max-width: 900px) {
  nav {
    display: none;
  }
  #intro {
    font-size: 2.6rem;
  }
  #intro-subtext {
    font-size: 1.5rem;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }
  .section-a {
    max-height: 300vh;
  }
  .section-b {
    height: 200vh;
  }
  .section-c {
    height: 200vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .section-d {
    height: 280vh;
  }
  footer {
    height: 20%;
  }
}

@media only screen and (max-height: 600px) and (min-width: 600px) and (orientation: landscape) and (max-width: 900px) {
  nav {
    display: none;
  }
  #intro {
    font-size: 4rem;
  }
  #intro-subtext {
    font-size: 2.5rem;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }
  .section-a {
    max-height: 300vh;
  }
  .section-b {
    height: 200vh;
  }
  .section-c {
    height: 180vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .section-d {
    height: 250vh;
  }
  footer {
    height: 20%;
  }
}

@media only screen and (max-height: 400px) and (min-width: 600px) and (orientation: landscape) and (max-width: 900px) {
  nav {
    display: none;
  }
  #intro {
    font-size: 4rem;
  }
  #intro-subtext {
    font-size: 2.5rem;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }
  .section-a {
    max-height: 300vh;
  }
  .section-b {
    height: 220vh;
  }
  .section-c {
    height: 250vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .section-d {
    height: 280vh;
  }
  footer {
    height: 20%;
  }
}
/*# sourceMappingURL=styles.css.map */
